@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  background-image: radial-gradient(rgb(209, 192, 166), rgb(77, 72, 63));
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#title-container > h1 {
  letter-spacing: 3px;
  font-size: 100px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  background-image: radial-gradient(rgb(255, 217, 0) 30%, rgb(255, 153, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title-container > h1:before {
  content: "Let's Draw!";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  text-shadow: 
    0px 1px rgb(177, 115, 0),
    0px 2px rgb(177, 115, 0),
    0px 3px rgb(177, 115, 0),
    0px 4px rgb(177, 115, 0),
    0px 5px rgb(177, 115, 0),
    0px 6px rgb(177, 115, 0),
    0px 7px rgb(177, 115, 0),
    0px 30px 30px rgba(0, 0, 0, 30%);
}

#title-container > p {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  position: relative;
  background-image: radial-gradient(rgb(231, 220, 204) 40%, rgb(192, 176, 153));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#button-container {
  display: flex;
  gap: 20px;
}

button {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(172, 92, 0);
  background-color: rgb(255, 133, 0);
  box-shadow: 0px 5px rgb(134, 72, 0);
  transition: background-color 0.5s;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0px 2px 5px rgb(92, 55, 0);
}

button:hover {
  background-color: rgb(255, 166, 0);
  transition: background-color 0.5s;
  cursor: pointer;
}

button:active {
  background-color: rgb(255, 184, 30);
  transition: background-color 0.05s;
}

#slider-container {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

#slider-container > #slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background: rgb(216, 212, 204);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: opacity 0.5s;
}

#slider-container > #slider:hover {
  opacity: 1;
}

#slider-container > #slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgb(172, 92, 0);
  box-shadow: 0px 2px rgb(134, 72, 0);
  background-color: rgb(255, 133, 0);
  cursor: pointer;
  transition: background-color 0.5s;
}

#slider-container > #slider::-webkit-slider-thumb:hover {
  background-color: rgb(255, 166, 0);
  transition: background-color 0.5s;
}

#slider-container > #slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(255, 133, 0);
  cursor: pointer;
}

#grid-container {
  border: 5px solid red;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(231, 231, 231);
  box-shadow: 0px 80px 70px rgba(0, 0, 0, 20%);
  border-image: linear-gradient(rgb(255, 174, 0), rgb(214, 96, 0)) 1;
}

.active:hover {
  transition: background-color .05s;
}

.active {
  transition: background-color 1.3s;
}