#grid-container {
  border: 1px solid gray;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.active:hover {
  background-color: orange;
  transition: background-color .05s;
}

.active {
  background-color: rgb(209, 0, 0);
  transition: background-color 1.3s;
}