html {
  height: 100%;
}

body {
  height: 100%;
}

#grid-container {
  border: 1px solid gray;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.active:hover {
  transition: background-color .05s;
}

.active {
  transition: background-color 1.3s;
}